
/* MAIN - table*/
.table th:nth-child(2),
.table td:nth-child(2) {
    display: none;
}

.table th:not(:last-child),
.table td:not(:last-child) {
    text-align: left;
}

/* TABELLA */
.table i {
    color: #6C757D;
}

.table button {
    border-color: #6C757D;
}

.table.table-striped {
    font-size: 12px;
}



/* FAQ */




/* media query */
@media screen and (min-width: 768px) {
    .table th:nth-child(2),
    .table td:nth-child(2) {
    display: table-cell;
}

}