
/* NAVBAR */
.navbar-nav .nav-link {
    color: white;
    opacity: 0.5;
}

.navbar-nav a.hover:hover,
.navbar-nav .nav-link.active {
    color: white;
    opacity: 1;
}

/* MAIN - table*/
.card .table th:nth-child(2),
.card .table td:nth-child(2) {
    display: none;
}

.card .table th:not(:last-child),
.card .table td:not(:last-child) {
    text-align: left;
}





/* media query */
@media screen and (min-width: 768px) {
    .card .table th:nth-child(2),
    .card .table td:nth-child(2) {
    display: table-cell;
}
}